extend layout
block content
  p
    | Lorem ipsum dolor sit amet,
    | consectetur adipiscing elit.
    | In laoreet convallis venenatis.
  p
    | Duis a arcu eget lorem porta luctus ac
    | sagittis urna. Aliquam commodo dignissim
    | felis, ut rutrum justo interdum in.
    | Integer ac diam neque. Aenean mattis
    | scelerisque augue quis gravida. Ut vitae
    | turpis lobortis nulla pretium laoreet.
block sidebar
  .widget
    h1 Widget
    p
      | Vivamus tempor auctor
      | dapibus luctus eros
    p
      | Sed id est molestie
      | hendrerit odio in



