!!!5
html
  head
    title #{title} - My Node Sample Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Node Sample Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p My site is running on node with Express, Jade and Stylus
